body {
  font-family: Arial;
  color: #0080ff;
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-size: Verdana;
  color: #ff8040;
}

main p {
  color: #ff0000;
}
main h1 {
  color: #0080ff;
}
main h1.hover {
  color: #0080ff;
}