
$color-primario: #0080ff;
$color-secundario: #ff8040;
$color-terciario: #ff0000;

$tipografia: Arial;
$tipografia-titulos: Verdana;

$espacio-base: 1rem;

body{
    font-family: $tipografia;
    color: $color-primario;
    font-size: $espacio-base;
}
h1{  
    font-size: 1.5*$espacio-base;
    font-size: $tipografia-titulos; 
    color: $color-secundario; 
}

main{   
    p{
    color: $color-terciario;      
     
    }
    h2{
        color: $color-primario;
        &:hover{
            color:$color-secundario;
        }
    }
    
}