#contenedor {
  display: flex;
}

div.boton {
  width: 10rem;
  height: 10rem;
}

#caja1 {
  background-color: #0094ff;
}

#caja2 {
  background-color: #00a8ff;
}

#caja3 {
  background-color: #00bcff;
}

#caja4 {
  background-color: #00d0ff;
}

#caja5 {
  background-color: #00e4ff;
}

#caja6 {
  background-color: #00f8ff;
}

#caja7 {
  background-color: aqua;
}

#caja8 {
  background-color: aqua;
}

#caja9 {
  background-color: aqua;
}

/*#caja1{
    background-color: $color-primario;
}
#caja2{
    background-color: adjust-color($color-primario, $blue: -20);
}
#caja3{
    background-color: adjust-color($color-primario, $blue: -40);
}
#caja4{
    background-color: adjust-color($color-primario, $blue: -60);
}*/