
$color-primario: #0080ff;
$color-secundario: #ff8040;
$color-terciario: #ff0000;

$tipografia: Arial;
$tipografia-titulos: Verdana;

$espacio-base: 1rem;

*{
    font-family: $tipografia;
    color: $color-primario;
    font-size: $espacio-base;
}
h1{
    font-size: 2*$espacio-base;
    font-size: $tipografia-titulos;
    color: $color-secundario;
}